*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-image: url(./media/baground_gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(5, 223, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* .container::after{
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    background-image: repeating-conic-gradient(from 45deg, #c11d1d 0deg 90deg, #222 90deg 180deg);
    background-size: 1em 1em;
    border-radius: 50%;
    right: -10px;
    bottom: -10px;
} */

/* .container::before{
    content: "";
    height: 400px;
    width: 400px;
    position: absolute;
    background-color: rgb(245, 4, 137);
    border-radius: 50%;
    left: -100px;
    top: -100px;
} */

.card{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(78, 78, 78, 0.07);
    z-index: 1;
    box-shadow: 18px 18px 48px rgba(0, 0, 0, 0.208);
    border-top: 1px solid rgba(255, 255, 255, 0.38);
    border-left: 1px solid rgba(255, 255, 255, 0.38);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    overflow: hidden;
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(160px);
    opacity: 0;
    transition: 1s;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    gap: 12px;

    p{
        color: chartreuse;
        span{
            color:rgb(255, 0, 0)
        }
    }
}

.card:hover .content{
    transform: translateY(0px);
    opacity: 1;
    text-shadow: 3px 3px 8px rgba(255, 255, 255, 0.508);
}